[2016-07-06 22:14] ChristinaB opened #1 "Saving resources and new resource generation"
It is not clear on how to save changes to the notebook.
Use case 1: user opens someone elses ipynb and makes changes and want to save the changes as a new ipynb
Use case 2: user opens their own ipynb and wants to save changes WITHOUT making a new ipynb

What are the workflow steps from the launch page?
C

[2016-08-08 22:09] ChristinaB commented on #1
Hi Tony, I think we got closer on this but is this the final version of how we want to do it? LMK if I should close this issue.

[2016-11-09 00:31] dtarb opened #4 "Jupyter notebook suggestions"
In the Jupyterhub notebooks deployed from HydroShare we need more building block file handling capability including

- ability to push a single file back into an arbitrary resource in HydroShare including the resource used to launch the notebook
- the ability to download more mime types from the files view.  I had trouble downloading dbf files associated with a shapefile.

@Castronova please let m

[2016-11-16 19:36] Castronova opened #7 "Notebooks only update when launched from HS"
The notebook environment (i.e. `data`, `utilities`, `help`) are only updated when jupyterhub is launched from HydroShare.  This is because the update functionality is tied to the rest api call that HydroShare uses.  This needs to be extended to ensure that the environment is updated whenever the jupyter container is created.

[2016-11-16 19:53] Castronova opened #8 "ResourceMetadata fails to instantiate"
The `hs_utils.ResourceMetadata()` class fails to initialize which causes the `createHydroShareResource` to fail.  To replicate:

[code]

[code]

[2016-11-16 19:56] Castronova opened #9 "Standardize output"
The output for `hs_utils` commands is inconsistent with the other notebook output, i.e. the spacing and coloring looks bad.

*  Instead of coloring an entire line, just print a single colored word (as a header) **Success** or **Failure**.

* Remove bold text

[2016-11-16 19:58] Castronova opened #10 "Exit hs_utils on Exception"
When an exception is raised in `hs_utils`, a warning message is displayed an the function continues.  Instead, all functions should exit early if an exception is encountered.

[code]

[2016-11-16 20:10] Castronova opened #11 "Testing Checklist -- HS 1.9.0"
**USU**
- [ ] Welcome
- [ ] Raster Processing using TauDEM
- [x] LandLab Landslide Calculations
- [ ] Basic Time Series Analysis - GenericResource
- [ ] Basic Time Series Analysis - TimeSeriesResource
- [ ] RHESSys Modeling

**NCSA**
- [ ] Welcome
- [ ] Raster Processing using TauDEM
- [ ] LandLab Landslide Calculations
- [ ] Basic Time Series Analysis - GenericResource
- [ ] Basic Time Series Ana

[2016-11-16 20:21] Castronova opened #12 "ODM Timeseries Notebook References Not Found"
The resource urls that are referenced in the ODM Timeseries notebook are incorrect or out-of-date.

For example:
https://www.hydroshare.org/resource/c6df8c1f22a0452b8035198e72967364/
[code]

This should be updated to `guid`:

89e4e1e18f3746fc936d7185baf6f76e

[2016-11-16 20:22] Castronova opened #13 "ODM Timeseries Notebook"
Downloading resource fails:

[code]

[code]

[2016-11-16 20:24] Castronova opened #14 "RHESSys Notebook duplicate plot"
Remove or clean commented code:

[code]

[2016-11-16 20:26] Castronova opened #15 "RHESSys Notebook Section Headers"
Add headers to split the RHESSys workflow into sections.  See the layout of the Taudem notebook:  http://jupyter.uwrl.usu.edu/user/tonycastronova/notebooks/notebooks/help/taudem.ipynb

[2016-11-16 20:36] Castronova opened #16 "Add Contact information to every notebook"
Give users a way to contact the maintainer of the notebook.

* Notebook contact (link to HydroShare)
* Notebook version?
* Last updated date

[2016-11-17 14:30] Castronova opened #17 "Notebooks urls not encoded correctly on Welcome page"
The `hs.getResourceFromHydroShare` call does not encode special characters as a valid file path which results in a 404 error.  For example, the `taudem-Geohackweek+#Landslide.ipynb` file should be encoded as `taudem-Geohackweek%2B%23Landslide.ipynb`

[2016-11-17 14:35] Castronova commented on #17
Url encoding can be done using `urllib.quote` or `urllib.quote_plus`

https://docs.python.org/2/library/urllib.html#urllib.quote

[2016-11-18 18:03] ChristinaB opened #18 "Query HydroShare Resource Content Failure"
When running the Welcome page, at this code block
get resource content.  Returns a dictionary of filenames and their paths
content = hs.getResourceFromHydroShare(os.environ['HS_RES_ID'])
I frequently (80% of the time) get this error.
Downloading ..Received error BadZipFile('File is not a zip file',) when unzipping BagIt archive to /home/jovyan/work/notebooks/data.

My work around is to rerun, reru

[2016-11-18 18:12] ChristinaB opened #19 "Plan for managing libraries loaded on servers"
@Castronova and @ddcamiu
I have shared this feature with you,
https://www.hydroshare.org/resource/e1b40ea6f409447c804abf78ab12d1cf/
If you launch this from the HydroShare browser, and run, you will get a range of errors, most I think have to do with importing from libraries not installed yet on servers.

What is your preference for requesting installations?
For Geohackweek and other applications,

[2016-11-18 18:46] ChristinaB commented on #19
PS. I get a different set of errors when running this on the USU development and NCSA servers.  I don't quite know how to interpret them.
From Tony's Dev server;
ERROR: Internal Python error in the inspect module.
Below is the traceback from this internal error.

Unfortunately, your original traceback can not be constructed.

[2016-11-18 18:48] ChristinaB opened #20 "Authorize NFIE summer school message on NCSA server"
@ddcamiu    When the user opens with NCSA, the first message they see is confusing. They don't have anything to do with the school and are not sure if they should 'authorize'.
Suggest updating to generic message.
Thanks!

[2016-11-18 19:00] Castronova commented on #19
Right now there is no formal way of requesting package/library installation.   For now, please create a new issue and tag it with the **Missing Library** label and I'll include it in the docker build.

You can also install missing packages into your container by opening a terminal and running a `pip` command, e.g. :

1. go to Jupyter file directory/explorer
2. New - > Terminal
3. `pip install xarr

[2016-11-18 19:13] ddcamiu commented on #20
Should turn to @Castronova

[2016-11-18 19:20] ChristinaB opened #21 "Saving notebooks and outputs"
Here is a sample notebook that I have shared with @ddcamiu @Castronova and @dtarb
https://www.hydroshare.org/resource/dbb68fd992cd413ebc677557e79116e1/

1.  This is a copy of the Taudem tutorial linked on the welcome page.  It launches successfully.  YEAH!!! Love this feature. Thanks so much for working on this.   To generate this notebook, it was copied, then downloaded to a local harddrive, and

[2016-11-18 19:21] ChristinaB commented on #21
Because of the saving question -  I am not 100% sure that the file I want you to see in the resource above, if the file I have been editing at
http://hydroroger.ncsa.illinois.edu/user/christinabandaragoda/notebooks/notebooks/data/dbb68fd992cd413ebc677557e79116e1/dbb68fd992cd413ebc677557e79116e1/data/contents/GeohackweekLandslides.ipynb#Retrieve-a-raster-resource-using-its-ID

[2016-11-18 19:50] ChristinaB opened #22 "New Help Page Needed: Make a new resource from a Jupyter Notebook"
@dtarb and @Castronova
Can I propose we develop a new help page?
Tony -- if you can take first attempt at explaining how it should be done on this document
https://docs.google.com/document/d/1J5MY_oUJIKIbyXro1Y2xppUK6XSZBB4UdTkUnVXOB2M/edit
Then I will edit it and try it out on the Taudem copy .ipynb I'm trying to get working.
David can proofread it please.

This will also be a first test of the h

[2016-11-18 20:15] ChristinaB commented on #19
Woohoo. That worked. I also needed to install
Image
Where could I start a list?  Here?
Thanks!

[2016-11-18 20:17] ChristinaB commented on #19
Almost there:
I tried to run this code after  pip install Image
but still get an error when I try to execute:
from PIL import Image
im = Image.fromarray(A)
im.save("your_file.jpeg")

[2016-11-18 20:33] Castronova commented on #19
This is the error that I get.  It looks like `A` is undefined.

[code]

[2016-11-18 20:46] Castronova commented on #20
@ddcamiu Does this have to do with the NCSA OAuth settings?

[2016-11-18 21:09] Castronova commented on #18
My initial thought is that something is failing during file download.  Unfortunately I have not been able to replicate this error.  I'm adding a `High Priority` label since this is a bug in the core functionality.

1. is there a particular resource ID or type that causes this error?
2. does this happen on both the NCSA and USU servers?

[2016-11-22 14:59] Castronova opened #23 "Matplotlib Font warnings"
In Raster Processing using TauDEM can we avoid Matplotlib font warnings.

See: http://stackoverflow.com/questions/34771191/matplotlib-taking-time-when-being-imported

[2016-11-22 15:15] Castronova commented on #18
@dtarb has also encountered this issue:

[code]

[2016-11-22 15:23] Castronova opened #24 "Use generic file naming in TauDEM notebook"
After the raster resource is downloaded to JupyterHub, the notebook commands reference the data assuming that the file name is "logan.tif", i.e. `hs.content['logan.tif']`.  While this is true for the example data it does not make sense to refer to the data as "logan.tif".  Is there a more generic way of referencing these data?

**Original Comment* (@dtarb)
After I have downloaded a different set o

[2016-11-22 15:26] Castronova opened #25 "TauDEM notebook use of Tif vs Tiff"
**Comment from** @dtarb

Sometimes you use .tiff with two ff’s but I think the file you provide just has one f.  (TauDEM actually works with both and uses .tiff to encode tiles as uncompressed and .tif as compressed using GDAL).

[2016-11-22 15:28] Castronova opened #26 "Clean content from notebook server"
**Comment from** @dtarb

How do I clean out the content in my notebook server? I can use the terminal and `rm -rf` but that seems a bit drastic.

[2016-11-22 15:42] Castronova commented on #20
@ddcamiu I believe this page is managed on the NCSA server.  It can be disabled by selecting `Skip authorization` on the oauth applications page (hydroshare.org/o/applications).

![image](https://cloud.githubusercontent.com/assets/4822372/20530064/4340b934-b0a0-11e6-9b18-5e91da5d1852.png)

This is something that you need to do since you registered the server as an OAuth application within HydroSha

[2016-11-22 17:05] Castronova commented on #26
* To completely wipe a single folder such as `data`
  1. Open new jupyterhub terminal
  2. `$ cd ~ `  move to the home directory
  3. `$ rm -rf data/*` delete the contents of the `data` folder recursively

* To completely wipe your environment and reset it
   1. Open a new jupyterhub terminal
   2. `$ cd ~ `  move to the home directory
   3. `$ rm -rf *` delete the contents of the `notebooks` fold

[2016-11-23 15:41] Castronova commented on #26
Recursive directory deletion may require one of the following:

* addition of functions via `sysutility.py` to `jupyterhub/jupyterhub/apihandlers`  (https://github.com/jupyterhub/jupyterhub/tree/master/jupyterhub/apihandlers)

* Modification to the jupyter notebook project, speficically the `NotebookList.prototype.delete_selected` function: https://github.com/jupyter/notebook/blob/master/notebook/

[2016-11-23 15:53] Castronova commented on #26
See this discussion too: https://github.com/data-8/connector-instructors/issues/25

[2016-11-23 22:17] dtarb commented on #21
@ChristinaB I do not know what you mean by "files are printed in the server" or what "print" means in the context of your question.

I think that the copy resource functionality that is being built will let you copy a resource without having to download and reupload.  When this is deployed some of this should be easier.

[2016-12-01 21:39] Castronova commented on #18
@ChristinaB What resource type is giving you this error?

[2016-12-01 21:44] leonard-psu commented on #18
Tony and Christina,
I was getting this error message on a "generic resource". If I attempted to load the resource in a web app, then retry  content = hs.getResourceFromHydroShare( XXX ) then I didn't get the error.

[2016-12-02 14:42] leonard-psu commented on #18
I can reproduce the problem by uploading a "generic resource", i.e. ETV zip file.
Then w/o using HydroShare apps,
I create a jupyter notebook with these lines

# import required libaries for geoprocessing
import os
import hs_utils
%matplotlib inline
hs = hs_utils.hydroshare()
replace XXX with id of uploaded file
content = hs.getResourceFromHydroShare('XXX')

I get the error message.
Then if I try

[2016-12-02 14:54] Castronova commented on #18
@lorne can you share this resource with me so that i can test.

[2016-12-02 15:00] leonard-psu commented on #18
Tony this one should replicate the problem (i.e download the zip file, and create a new resource )
https://www.hydroshare.org/resource/2bca3052389d4b509a82444031af7f4d/
the resource I was able to replicate is a 70mb zip file, if you want that one, do you a google drive location?

[2016-12-02 16:07] Castronova commented on #18
@leonard-psu This resource works fine for me.  I wonder if its a *timeout* issue on large files.

[code]

[code]

[2016-12-02 17:29] Castronova commented on #18
@leonard-psu Can you try using the `hs_restclient` directly to see if you get a more informative error?

[code]

[2016-12-02 20:24] #20 closed

[2016-12-02 20:32] #10 closed

[2016-12-03 14:35] leonard-psu commented on #18
* Is the timeout occurring when network and/or disk is busy?
* I can't reproduce the problem this morning.  I notice server response was faster than previous tests.
* I was using the hs_utils library on USU notebook environment. I tested method on both NCSA and USU and had no issues this morning.

* When I try a direct method using the hs_restclient directly, I get the following error message
Trac

[2016-12-05 14:03] Castronova commented on #18
Looks like you got a permission error when you ran the script.  Next time you encounter the `Downloading ..Received error BadZipFile('File is not a zip file',) when unzipping BagIt archive to /home/jovyan/work/notebooks/data.` error, try running the code snippet above inside the notebook environment. Hopefully this will give us a more informative error.

[2016-12-05 17:29] leonard-psu commented on #18
New generic resource test today
hs = HydroShare(auth=auth)
resid = '7855f8445b39427190a1dfcf5e2c140b'
hs.getResource(resid, destination='.', unzip=True)

error message from Jupyter notebook on USU

Received error BadZipfile('File is not a zip file',) when unzipping
BagIt archive to ..

On Mon, Dec 5, 2016 at 9:03 AM, Tony Castronova <notifications@github.com>
wrote:

[2016-12-05 21:20] Castronova opened #27 "SSL Certificates"
Enable SSL

[2016-12-09 19:51] #17 closed

[2016-12-09 19:51] #7 closed

[2016-12-09 19:51] #13 closed

[2016-12-09 19:51] #14 closed

[2017-01-09 18:47] Castronova opened #34 "Rhessys EcoHydroLib Broken"
@leonard-psu recent modifications.

1. I had to modify the EcohydroLib scripts, government agencies have changed services from http to https. i.e none of the rhessys notebooks work now.

https://github.com/leonard-psu/EcohydroLib

2. I created a pull request with the rhessys.py script in Jupyter notebooks.
Larry Band wanted more meaningful error messages than "-1".

[2017-01-09 18:48] Castronova commented on #34
This should be fixed by rebuilding the jupyterhub base image.  I am testing this on JupyterHub-USU and working on a way to migrate these changes to NCSA with minimal downtime.

[2017-02-01 16:47] leonard-psu opened #35 "Increase width of notebook cells by reducing margins"
Is it possible to reduce the margins of the jupyter notebook?
On landscape oriented monitors, the margins are quite wide.
Reducing the margins will help increase visualization screen real estate.

[2017-02-01 18:08] laurencelin opened #36 "Jupyter Notebook environment issue in some (hydroshare) accounts"
I was developing and running RHESSys Jupyter notebook on NSCA server (Python 2 kernel).  This notebook relies on python-based Workflows (developed by Brian Miles). In my case, some of the Workflows commands cannot be executed within the Jupyter notebook (error message is attached below) but was able to do so in the virtual machine terminal.  I found a solution to this when I created a new hydrosha

[2017-02-21 22:50] ChristinaB opened #37 "Received error BadZipFile('File is not a zip file',) on both NCSA and USU-Beta"
This error occurs on the Welcome Page.
For example, go to this resource
[Watershed Dynamics Model: Climate](https://www.hydroshare.org/resource/4b7f19774f5442e8b17c38d2f72df49b/)

Click on Open With (select either server)
1. Establish a Secure Connection operates as expected
2. Query HydroShare Resource Content gives the error

Downloading ..Received error BadZipFile('File is not a zip file',) whe

[2017-02-21 22:56] ChristinaB commented on #37
We think that this is because the ipynb is 1.5 MB.
Also, the Download All Content as Zipped Bagit Archive is brokecn on the HydroShare resource, if large.
What is large?
Is this the reason?

[2017-02-21 22:58] ChristinaB commented on #37
@pkdash @aphelionz
This was all working on Friday Feb 17. So something that was done since then may have broken our current use case.   Thanks!

[2017-02-21 23:02] ChristinaB commented on #37
Also, the 4b7f19774f5442e8b17c38d2f72df49b files (in this example) in the servers have disappeared because of some piece of the operation that is executed from the
content = hs.getResourceFromHydroShare(os.environ['HS_RES_ID'])

[2017-02-23 21:07] ChristinaB commented on #37
Hey @aphelionz @Castronova @pkdash
This particular issue is not occurring when we open and download data from an example Notebook that Tony has linked to the Welcome Page.
We can also 'Open With' this resource [Landlside Example](https://www.hydroshare.org/resource/0e49df4b97f94247a8d52bac4adeb14a/)   from the resource page.

Why can't we download and run data from this Resource? [Watershed Dynami

[2017-02-23 21:14] ChristinaB opened #38 "JupyterHub User Demo for Landlab Workshop March 21: recommendation for GIS operations"
Tony -
This is one of the demos.  It is a work in progress
[Watershed Dynamics Model: Climate](https://www.hydroshare.org/resource/4b7f19774f5442e8b17c38d2f72df49b/)

Currently, we (@jphuong )  give the code a table with a column LAT and a column LONG, and we use those text values to download climate data files from servers that use that naming scheme.

What we need to do,
1. Download a watershed

[2017-02-24 01:07] pkdash commented on #37
@hyi Any idea what might be causing the resource bag creation never ending for this resource [Watershed Dynamics Model: Climate](https://www.hydroshare.org/resource/4b7f19774f5442e8b17c38d2f72df49b/)

[2017-02-24 14:21] hyi commented on #37
@ChristinaB @pkdash @mjstealey @rayi113 I have done some investigation on this and here is what I found out:

- This resource's zipped bag currently cannot be created because of this error: ```ERROR [django:248] ERROR: bunUtil: opr error for /hydroshareZone/home/wwwHydroProxy/4b7f19774f5442e8b17c38d2f72df49b, status = -530039 status = -530039 UNIX_FILE_LINK_ERR, Directory not empty```

- On the iR

[2017-02-28 19:46] ChristinaB commented on #37
Hong - thanks so much for looking into this.
Today I made a new resource, uploaded all the same files, and then ran the Welcome page code.
Here is what happened the three times I repeated the same code block:
content = hs.getResourceFromHydroShare(os.environ['HS_RES_ID'])

1.  Execute content = hs.getResourceFromHydroShare(os.environ['HS_RES_ID'])
Downloading ..Received error BadZipFile('File is n

[2017-02-28 19:56] hyi commented on #37
@ChristinaB @pkdash This looks like an async-bag-download issue. From hydroshare website, when you download a bag, you will receive a notification message on the top informing users to wait until the bag is created which will take some time for a resource with large files. On the REST API level, I thought the similar task status polling logic is also implemented, but your code for calling REST API

[2017-02-28 22:11] pkdash commented on #37
@ChristinaB What version of hs_restclient are you using?

[2017-02-28 22:53] ChristinaB commented on #38
Do you have time this week for me to give you a tour of the first demo we are working on?
Thanks!
C

[2017-03-07 15:51] ChristinaB commented on #37
I don't know.  How can I find out?  When you run the sample resource, do you get the same error??
Thanks!!

[2017-03-07 16:25] pkdash commented on #37
To find the version, you can do this:
 ```>>> hs_restclient.__version__```

I think @Castronova has updated to use the latest version of hs_restclient recently. Your earlier code may work now.

[2017-03-07 16:39] aphelionz commented on #37
@ChristinaB @pkdash working on verifying that now. I need a login though... @Castronova

[2017-03-08 15:52] ChristinaB commented on #37
Update: This issue is still occurring as of March 8 testing.      Is it helpful to provide computer and network information from the systems we are using?
I don't remember this being an issue this  @jphuong do you know when we started noticing this?  Three weeks ago?
Thanks!! C

[2017-03-14 15:13] Castronova opened #39 "New lines are added to progressbar"
New lines are being added to the progressbar which makes the stdout look terrible,

[2017-03-14 17:05] #39 closed

[2017-03-14 17:20] Castronova opened #40 "GetResourceFromHydroShare gives wrong link to ipynb"
the get resource from hydroshare function provides a link to the ipynb if one exists.  This link is incorrect and results in a 404 error.

[2017-03-14 17:27] Castronova opened #41 "Error creating hydroshare resource"
Basic timeseries analysis notebook.

[code]

[2017-03-14 17:37] Castronova opened #42 "Timeseries resource library is broken"
The timeseries resource needs to be updated.

[code]

[2017-03-14 17:58] Castronova commented on #42
Some thing with the timeseries resource example

[code]

[2017-03-14 17:59] Castronova commented on #41
Some thing with the timeseries resource example

[code]

[2017-03-14 19:02] #42 closed

[2017-03-14 19:02] #41 closed

[2017-03-14 19:36] ChristinaB opened #43 "Request to install DHSVM"
Hi Tony,
If you git clone  https://github.com/pnnl/DHSVM-PNNL.git   - how do you get just this branch?
https://github.com/pnnl/DHSVM-PNNL/tree/glacier/DHSVM

How I install it is
	• Run Makefile in Lib/ directory
		○ %cd Lib
		○ remove existing libcxsparse.a
		○ run % make
			§ This will create the libcxsparse.a file required to compile the main source code
	• Run Makefile in /sourcecode directory

[2017-03-14 19:39] ChristinaB opened #44 "Request to install ULMO"
Ulmo has had recent developments to add tools for accessing CUAHSI Water One Flow
https://ulmo.readthedocs.io/en/latest/api.html#module-ulmo.cuahsi.his_central
This would be great to have installed, so we can use Notebooks to access the HIS.

When we tested these on our local terminal, we had to do pip install after conda install didn't work (or maybe both were necessary? )

These are the awesome

[2017-03-15 01:01] ChristinaB opened #45 "I ran out of disk space on NCSA- what do I do?"
I am such a lazy space manager.  I have no idea what the size of the data I downloaded is, or how much I am allotted.      I went to the HELP pages, and there are no details there, so I guess we need to add a bit on limitations on https://pages.hydroshare.org/modeling/jupyter-python-notebook/
I think what I really need is code to remove data files from the server once I have put them on HydroShare

[2017-03-15 19:34] #40 closed

[2017-03-15 19:47] Castronova commented on #45
@ChristinaB I need to implement some tools to help users clean there userspace.  I'm not sure how much space you've been given on NCSA but I can look into it, or you can ask them directly via help+roger@ncsa.illinois.edu.

The easiest way to clean up space is to first open up a new notebook terminal, move into the directory you where your data is (e.g. `cd notebooks/data)`.

### List the size of t

[2017-03-16 18:30] ddcamiu commented on #45
Just came across this issue and did some quick check for help: the total volume assigned for the hydro Jupyter server is 100GB. Right now I see the space is mostly occupied. Most users take on a reasonable portion (~ 1GB), but user "llenoard" has taken 34GB on his own. Inferring from the folder names, I guess he has been constantly versioning his 3GB workflow for about 10 times by making copies.

[2017-03-16 18:48] ChristinaB commented on #37
Update: This is still an issue.  I have tested it with big resources and small resources.

Most recently I tried it with a Model Instance resource type instead of Generic.  The current error I get from the NSCA server is still:
Downloading ..Received error BadZipFile('File is not a zip file',) when unzipping BagIt archive to /home/jovyan/work/notebooks/data.

Test it out on this public resource: h

[2017-03-16 18:50] ChristinaB commented on #37
When I test the same Welcome Page download from USU-beta server, I get this error message.  If I retry the cell multiple times, I also can eventually get it to work.
![image](https://cloud.githubusercontent.com/assets/4108369/24013467/bb216668-0a3e-11e7-90db-ace36a9cddc5.png)

[2017-03-16 18:52] ChristinaB commented on #37
Thanks for your help! Let me know if there is some other test or angle I can try in order to avoid this issue for new users.

[2017-03-16 19:05] ChristinaB commented on #45
Thanks for that information! Is there any limit on individual users?  Or is the HydroShare total currently managed between users in an adhoc fashion?
Currently, I think it's just UW and llenorard working on it, but this will eventually become a bigger issue.

[2017-03-17 22:16] jphuong commented on #37
Mark - I was wondering if you have any idea about this issue?  We anecdotally think that all the recent updates (since last month) are the cause of this problem.  I am looking for a solution to demo HydroShare JupyterHub next week, but we are currently stalled on development of the demos because we can not use the function that starts every work session:
# get resource content.  Returns a dictiona

[2017-03-17 23:24] pkdash commented on #37
@jphuong

```getResourceFromHydroShare()``` is not a function/method in hs_restclient. The function that retrieves a resource is ```getResource()```.

[2017-03-18 01:08] jphuong commented on #37
@pkdash Please inspect the hydroshare.py file within /hydroshare-jupyterhub/notebooks/utilities/ folder. This function is defined within the Hydroshare() class. Also, when I tried import hs_restclient on the NCSA and USU-beta servers, they responded that getResource() is not a recognized name:

![image](https://cloud.githubusercontent.com/assets/16712523/24067632/b5a4a688-0b3c-11e7-993e-7ccee1f357

[2017-03-18 03:32] pkdash commented on #37
@jphuong It seems the getResourceFromHydroShare()  is internally calling the getResource() function of the hs_restclient. What version of hs_restclient are you using?

The documentations described at 'http://hs-restclient.readthedocs.io/en/latest/' mostly should be up-to-date. It is probably missing documentation for couple of functions. We will fix that in the next release.

[2017-03-21 13:46] Castronova commented on #37
@jphuong This should be addressed in the latest code running on jupyter.usu.edu.  It has not been released on NCSA yet.

[2017-03-21 14:20] ChristinaB commented on #37
@Castronova
I tried the USU server to open this resource: https://www.hydroshare.org/resource/0f4efd1cedb64a5a9fa90cf1f248e22f/ and got this error.

![image](https://cloud.githubusercontent.com/assets/4108369/24151709/c5e60bd2-0e06-11e7-8a09-440315a72780.png)

[2017-03-21 14:22] ChristinaB commented on #37
That resource opened with NCSA gives the (currently) expected gives the same BadZipFile error.  To run it, I have uploaded Jim's work around relabeled Welcome_Landlab.ipynb  so that we can launch it this week.  Is that the plan I should continue with?  Or do we think Welcome may be operational by tomorrow?
Thanks!

[2017-03-21 14:24] ChristinaB commented on #37
This resource Welcome page works for both USU and NCSA.    https://www.hydroshare.org/resource/884205b54f5c4d9e9c073150db2d649e/
I don't know what is wrong with the individual resources that cause this variability.  Or does it vary in time based on server load?

[2017-03-21 19:41] Castronova commented on #37
I'm getting this error intermittently, i.e. doesn't work with

[code]

but works with

[code]

[2017-03-21 20:46] pkdash commented on #37
@Castronova can you try the following again (this is the one that didn't work):

```content = hs.getResourceFromHydroShare('4b7f19774f5442e8b17c38d2f72df49b')```

[2017-03-21 20:47] pkdash commented on #37
@Castronova Also are you using version 1.2.6 of hs_restclient?

[2017-03-29 18:41] ChristinaB commented on #44
Governance Notes
[Link to ongoing Discussion ](https://docs.google.com/document/d/1g1Z9jO-Q0HHg43MbngyN3N7m0nK9CC9HXW0EvpRqgQg/edit#)

Web page draft for Governance developed in Google Docs
 [Link to Draft Governance webpage](https://docs.google.com/document/d/17MAIpCNzojmoPCSD8lLYyVcSZ0g9G_iKZkTCi65PqyI/edit)

[2017-03-30 14:05] Castronova commented on #44
@ChristinaB I think this is a good place to put library requests.  Keeping each in a separate issue will help us keep track of which libraries have (and have not) been installed.  I created a label to help us sort these installation requests.

[2017-04-07 00:11] ChristinaB commented on #37
We are now getting a new error related to this issue:

Code from Welcome Page
content = hs.getResourceFromHydroShare(os.environ['HS_RES_ID'])

Gives this error:
![image](https://cloud.githubusercontent.com/assets/4108369/24780416/01dc5064-1aec-11e7-9a68-b52f0a0ad5ff.png)

[2017-04-07 01:06] ChristinaB commented on #37
It seems like some kind of corruption occurs with resources with either size, multiple openings and closings, or some actual file corruption.

When I make a new generic resource and upload a Notebook, I can execute the

content = hs.getResourceFromHydroShare(os.environ['HS_RES_ID'])

multiple times and get the Downloading ..Received error BadZipFile('File is not a zip file',) when unzipping BagIt

[2017-04-07 03:29] pkdash commented on #37
I am still waiting to know what version of hs_restclient is being used.

[2017-04-07 11:45] Castronova commented on #37
@ChristinaB  @pkdash The JupyterHub implementation that's hosted at NCSA is using an out-of-date `hs_restclient` which is probably causing the issue above.  We are in the process of deploying a fix, but are currently having trouble with the beta testing server.  I will roll out the fix as soon as possible.

[2017-04-07 17:49] ChristinaB commented on #37
@ddcamiu   - do you mind updating the  out-of-date hs_restclient  ?   This issue is six weeks old, and we have not been able to consistently use the Welcome page for two months.   I would like to close this issue as soon as possible.  It will be resolved when users can Open With/NCSA server/execute the Welcome Page, and download the resource files from HydroShare to the JuptyerHub server with no e

[2017-04-07 18:00] ChristinaB commented on #37
@ddcamiu
The latest REST client on Pypy is form January.  @aphelionz has updated the REST API services, but is working on the REST client and promised it by the end of this week.   If the three of us could coordinate on the updating next week, we may be able to close this issue?  Thanks!

[2017-04-07 18:05] Castronova commented on #37
@ChristinaB I have the `hs_restclient` updated in the development version of the code, but our testing server is currently being rebuilt.  We will need to first deploy the fix to the development server before we can roll it out to NCSA.  Unfortunately this will not include @aphelionz changes yet since this would require further updates to the jupyterhub notebooks and would delay release.

I unders

[2017-04-07 18:07] Castronova commented on #37
In the meantime, it would be nice if someone could test that the master branch of the `hs_restclient` fixes this issue since that is what will be installed on the jupyterhub server.

[2017-04-07 18:17] ChristinaB commented on #37
Who is the best someone to test hs_restclient?

I sounds like this is a high risk fix - meaning that we really don't know how many days it will take.  That's fine, I understand.

Is it possible to set up the server to launch a Welcome_Public page that works for any public resource using the URL instead of the hs_restclient?  Until this is stable?     @jphuong and I developed it for the workshop tw

[2017-04-07 18:52] ChristinaB commented on #37
Here is a link to my proposed temporary work around [Welcome Public](https://github.com/hydroshare/hydroshare-jupyterhub/blob/master/notebooks/Welcome_Public.ipynb)

[2017-04-07 18:58] Castronova commented on #37
@ChristinaB unless you are installing a newer version of `hs_restclient` somewhere, this notebook will still use the older version of `hs_restclient` that was installed on the server.

Does this resolve your error?

[2017-04-07 18:59] Castronova commented on #37
Nevermind...it looks like your using `wget` instead of `hs_restclient`

[2017-04-07 19:02] ChristinaB commented on #37
Yes - using wget avoids the hs_restclient issues related to downloading. Can some version of this approach be the backup Welcome.ipynb when hs_restclient throws errors?

[2017-04-07 19:11] Castronova commented on #37
I will try to implement this method as a backup so that if `hs_restclient` fails we can use `wget`

[2017-04-07 19:17] ChristinaB commented on #37
Thank you!! I'll prioritize testing it whenever you are ready.

[2017-04-07 19:39] ChristinaB commented on #44
Hi Tony,
Does the In Beta tag above mean I should test it and close this issue?
Thanks!
Also, Katy Barnhart wants to use the server for a CSDMS Landlab workshop and wanted to jump in on requesting an install.   It seems like the process could result in a 'How to' request an install on the help pages.  What do you think?
C

[2017-04-07 20:04] Castronova commented on #44
@ChristinaB I'm using the Beta tag to indicate issues that have been deployed to the USU beta server.  This installation has been addressed, but unfortunately the beta server is down right now.

Creating and issue and tagging it as "Install Request" is the best way to request a library install.  Send me an email too since I'm guessing that this needs to be done right away.

[2017-04-07 20:15] ChristinaB commented on #44
I don't know about 'right away', Katy and I want to test using Dakota, a National Labs package for optimization, and she wanted to post that request.   I think if there is a regular schedule posted, folks would be able to plan around it.  or if you and @ddcamiu think that you can get an installation done within 5 business days after a request is made, you could post that somewhere.

What tag will

[2017-04-08 15:46] kbarnhart opened #46 "Request to Install Dakota"
I'd like to use the Sandia National Lab's Dakota package on Hydroshare. I'd like to use this for my own research and also for a CSDMS clinic that will occur at the end of May.

@ChristinaB recommended that I make an issue here tagged as Installation Request (will tag shortly).

The Dakota Quickstart guide https://dakota.sandia.gov/quickstart.html is what I've successfully followed to install Dakot

[2017-04-08 15:46] kbarnhart commented on #46
Doesn't look like I have Label Privileges. @ChristinaB would you please assign the label?

[2017-04-12 18:55] ChristinaB opened #48 "Welcome Page on USU Beta - get error"
@Castronova
I used the USU Beta server to open two different pubilc resources and get the same error.  Looks like you are using Get? so is this for public resources only?

Here is the error I get when I test with
Public and shareable resource that I do not own (I have edit/author permissions: https://www.hydroshare.org/resource/1de72928f573433290f6c8bb393523df/

Public and shareable resource that

[2017-04-12 19:13] Castronova commented on #48
@ChristinaB This seems to be an issue with the `hs_restclient`.  Please post this issue the rest client project: https://github.com/hydroshare/hs_restclient

To reproduce the error:

*HydroShare Resource Info*
- Public
- Shareable
- Not owned by tester

[code]

[code]

[2017-04-12 19:30] ChristinaB commented on #48
Thanks! I moved it over there. Do you want me to close this? Or you can.

Did you switch to wget?

[2017-04-13 22:48] ChristinaB opened #49 "Recommended Citation for HydroShare Jupyter-Hub"
@Castronova and @ddcamiu
We are writing up a paper where we have a reproducibility section and are describing how we are using HydroShare for a landslide model. Can you let me know how we should be citing you?  What I could find online is below:

... using Jupyter Notebooks that access Landlab installed on HydroShare JupyterHub servers at the National Center for Supercomputing Applications (Yin, 2

[2017-04-13 22:51] ChristinaB opened #50 "Issue about Issues that we have Issues"
Hi @Castronova
I'm just following up with our conversation where you mentioned that you would be tagging, closing and communicating on these issues.  When I google JupyterHub NCSA (because i was searching for a citation) - all I see is our pile of issues!  So we need to either close them and clean them up, or start adding issues about how wonderful it is working!! and how wonderful it is to be act

[2017-04-14 20:53] Castronova commented on #50
Not sure what to do about this since this is where all issues relating to the HydroShare JupyterHub software should be placed.  I don't think we can (or want) to omit these from google searches.  I will continue to try an keep the list of issues clean and up-to-date.

[2017-04-14 20:53] #50 closed

[2017-04-14 20:59] Castronova commented on #49
I think it is acceptable to cite the object that is stored inside hydroshare since this is where people will go to access the JupyterHub system.  I've been writing a paper about the overall HydroShare JupyterHub software stack which be a good reference for future work.

It would be great if you could cite this repository too.  Maybe we should formally publish version 1.1 of the JupyterHub code usi

[2017-04-14 21:00] Castronova commented on #49
If you decide to cite the Dockerfile...some modifications:

Castronova, Anthony M., 2017, Dockerfile for the HydroShare-JupyterHub base image. https://hub.docker.com/r/castrona/hydroshare-jupyterhub/ Accessed April 4, 2017

[2017-04-14 21:56] ChristinaB commented on #49
I think publishing the code to get a DOI is probably the best long term solution to how to cite the HydroShare piece of  JupyterHub, we can post something on a help page on how to cite the use of the server that includes Dandong CyberGIS and also one that is specific to JupyterHub on HydroShare. That would be better than the Dockerfile, right? or both?

[2017-04-14 22:54] ChristinaB commented on #46
Thanks Katy!  I'm just popping in on this issue so I get an email when it is in beta. Let me know how I can help with the clinic.
C

[2017-04-14 23:55] ddcamiu commented on #49
I submitted another piece of Jupyter work to a conference, which my advisor suggests to cite as NCSA Jupyter effort:

Yin, D., Liu, Y. Y., Padmanabhan, A., Terstriep, J., Rush, J., Wang, S. (2017) A CyberGIS-Jupyter Framework for Geospatial Analytics at Scale. The First Practice & Experience in Advanced Research Computing (PEARC) Conference, Under review

[2017-04-17 23:22] kbarnhart commented on #46
Sounds good @ChristinaB ! Thanks for your help and thanks to @Castronova for doing the heavy lifting! I'll let you know as I get going!

[2017-04-25 14:10] Castronova commented on #43
@ChristinaB Do you have plans to use this model in a workshop?  If not, do you have a notebook that I can test the installation against once completed?

[2017-05-01 15:50] Castronova commented on #44
merged into master: 7df7d1c6d428ca8993b739b3eac89109d083ed0c

[2017-05-01 15:50] #44 closed

[2017-05-01 15:50] Castronova commented on #45
Modified the native jupyterhub delete functionality to support recursive folder deletion.  7df7d1c6d428ca8993b739b3eac89109d083ed0c

[2017-05-01 15:50] #45 closed

[2017-05-01 15:51] Castronova commented on #26
Modified the native jupyterhub delete functionality to support folders:7df7d1c6d428ca8993b739b3eac89109d083ed0c

[2017-05-01 15:51] #26 closed

[2017-05-01 15:52] Castronova commented on #34
This seems to have been resolved.

[2017-05-01 15:52] #34 closed

[2017-05-01 15:52] Castronova commented on #12
This has been resolved: 7df7d1c6d428ca8993b739b3eac89109d083ed0c

[2017-05-01 15:52] #12 closed

[2017-05-01 15:53] #38 closed

[2017-05-01 15:55] Castronova opened #52 "Add version to JupyterHub interface"
Add the current jupyterhub version to the web interface.

[2017-05-03 17:38] kbarnhart commented on #46
I wanted to touch base and see if it would be possible to help out in getting this working. The clinic I'm running is coming up (May 25th) and I want to make sure I have a workable platform (somewhere) to have participants run notebooks from. Using the Hydroshare Server is not an absolute necessity, but it would be preferred ~1000x to the other options.

I've just been working with the CU research

[2017-05-03 20:22] ChristinaB commented on #46
Thanks Katy - I did confirm with  @martinseul  on phone calls today that we want to do everything we can to make these work for CSDMS.   @alexlemann has setup a Slack channel for HydroShare App developers, do you think that would work for ongoing communication and update beyond specific issues?  Does Landlab still use Slack? or other modelers you work with?

[2017-05-03 20:24] kbarnhart commented on #46
Thanks for the update @ChristinaB. Landlab uses slack some, though we are mostly trying to switch over to git issues. I'm happy to communicate by whatever channel is easiest for you all. Thanks!

[2017-05-04 14:35] Castronova commented on #46
@kbarnhart Thanks for the compiling tips!  I actually tried to build it a week ago and ran into some issues (forgot to post them here).  I am working on this today and I'll let you know how everything goes.

[2017-05-04 15:01] Castronova commented on #46
@kbarnhart Can you send me your build scripts too?  I will help me get this going faster.

[2017-05-04 17:51] kbarnhart commented on #46
@Castronova I've attached three files that we used.
install_boost.sh
install_dakota.sh
dakota_cmake_openmpi_intel_boost1.53
To attach, I had to change the extensions on all to .txt.

I've included a description of our workflow and the directories, to provide context if you need to modify the build scripts.

Thanks!

These three files lived in a folder in the directory
/projects/barnhark/utils/

In

[2017-05-04 19:04] ChristinaB commented on #46
Wow @kbarnhart.  I am feeling very grateful that I don't have to do all of that to use Dakota on HydroShare.   Thank you @Castronova

Proposal- do both of you mind estimating how long it takes an individual to install Dakota? How much time have you spent sorting it out to be able to run a calibration?    I'll  keep track of how much time it takes me to get a model going once installed on the HSJH

[2017-05-04 19:17] kbarnhart commented on #46
@ChristinaB Haven't been keeping close tabs, but I've probably spent 1/4 of my time for ~2 weeks working on this. Its not done yet since all the tests aren't passing. This isn't counting the time that the CU RC staff has spent helping me.

[2017-05-05 19:09] Castronova commented on #46
@kbarnhart I'm running into issues configuring Dakota via cmake.  The error looks like it has something to do with `DakotaEnableSpecMaint` and I cannot find much info regarding this on the web.

`$ cmake -DCMAKE_INSTALL_PREFIX=${DAK_INSTALL} -C ${DAK_CMAKE_FILE} ${DAK_SRC}`

[code]

---

**Here's the output from `CMakeOutput.log`:**

`$ cat CMakeOutput.log`

[code]

[2017-05-07 05:56] ChristinaB opened #54 "Request to install SCP"
Hi Tony,
I tried to install SCP to my local terminal and got this error.  I tried from the BETA server.
![image](https://cloud.githubusercontent.com/assets/4108369/25778319/0ec2c1ac-32af-11e7-92f8-d725b39888ca.png)

Currently, the only way to get data from JupyterHub server to other places (that I know of) is to download it to my PC.  For some cases, the data needs to be transfered to a server, an

[2017-05-07 05:56] ChristinaB commented on #54
I did try my HydroShare password, but it looks like SCP wants the server password.

[2017-05-08 15:57] kbarnhart commented on #46
@Castronova

I'm not sure how to fix that issue, so I'd propose we email the Dakota listserv to ask for assistance with this problem (I'm happy to do this). I've looked up what the Dakota team requests in our support request and reproduced the relevant parts below (https://dakota.sandia.gov/faq.html#t3n260).

In general:
1. Brief problem description.
2. DAKOTA version: either major release version

[2017-05-08 19:02] #27 closed

[2017-05-09 15:48] Castronova commented on #43
@ChristinaB I have this working on my development environment but I have 2 questions:

1. Why are we using the `glacier` branch?  I would like to use the main (master) branch if possible.

2. Do you have a dataset that I can test the installation on?  The `input 3x3` and `input Mercer` are not working.

[2017-05-11 18:54] Castronova commented on #46
@kbarnhart Good news...I was able to solve my build problem.  I have Dakota running on a development version of JupyterHub at CUAHSI.  I will try to deploy this on the beta server tomorrow.

[2017-05-11 18:57] kbarnhart commented on #46
@Castronova WOW!!! that is amazing! Congratulations! Let me know how I can help.
Thank you!

[2017-05-15 20:36] #8 closed

[2017-05-15 20:36] #18 closed

[2017-05-15 20:39] #37 closed

[2017-05-15 20:40] #11 closed

[2017-05-15 20:51] ChristinaB opened #55 "Code check on addContentToExistingResource(parent_resource, files)"
![image](https://cloud.githubusercontent.com/assets/4108369/26078385/3fcbfd1a-3974-11e7-8d75-1445168acf9a.png)

If you open this resource, you can see the saved results and the error printed above.

https://www.hydroshare.org/resource/fb02f0618ef14a0ba52b7a67fc3cef60/

Can you let me know if we are using Option B code correctly for saving to an existing resource? I looked in utilities/HydroShare/h

[2017-05-17 17:00] kbarnhart commented on #46
Hi @Castronova

This might be a too-late, not-very-helpful, piece of information... but it might make things easier depending on how things are going for you with Dakota. As of a few days ago, there is a new Dakota release (6.6).

still requires Boost 1.53, which was our major problem installing on Summit.

[2017-05-17 17:25] Castronova commented on #46
@kbarnhart thanks for the info.  Yeah, the frustrating bit is installing and configuring Boost 1.53 when it would be great to use v 1.55 which is available via apt-get.  I have the build instructions working, just need to fix a server issue on our beta server before I can get it out for you to test.  Hopefully everything should be up and running in the next couple days.

[2017-05-17 19:07] kbarnhart commented on #46
Workshop is next week Thursday, but I've set everything up so that Dakota working will be preferred but not required.  I'll have pre-run Dakota, placed a few lines of commented out code in a notebook that would execute the Dakota commands. That way participants can run the post-processing analysis. And if Dakota is working, they can uncomment the lines and run them.

[2017-05-17 19:54] ChristinaB opened #56 "Unexpected HS_RES_ID on welcome page"
@Castronova
I went to HS resource: https://www.hydroshare.org/resource/95f464e3848447858d09e78b8aa3ea2e/
Open With
NSCA
and executed the first cell in the new welcome page and got this output pointing to the wrong ID:
![image](https://cloud.githubusercontent.com/assets/4108369/26173111/8899450c-3aff-11e7-8356-7194d4123bf0.png)

I tried restarting the kernal.  I closed all running notebooks and ter

[2017-05-18 12:58] Castronova commented on #56
@ChristinaB @dtarb I am having trouble replicating this error and can't find anything in the logs that pinpoints a specific bug.  This may be something we need to debug over a telecon.  However, I'll keep debugging this issue, but can you run the following commands in the Jupyter terminal and paste the output?

1. `ls -la ~/work/notebooks/.env`

2. `ls -la ~/work/notebooks/utilities`

3. `cat ~/wo

[2017-05-18 20:45] ChristinaB commented on #56
Tony, I don't know why, but today when I tried, it downloaded the correct resource.  I can't recreate this bug today, but let's keep this open, and when it happens again, I will paste the outputs from the commands above.

[2017-05-18 22:09] ChristinaB commented on #43
Still working on it! I just need to rename and retry to make a resource.

[2017-05-18 22:10] ChristinaB opened #57 "Request to install R"
Hi Tony,
I've had two users ask me about R on HydroShare so am passing along this installation request from them.
I think you mentioned this before, but we do have mounting evidence that a lot of people would find this very useful.
Christina

[2017-05-18 23:14] ChristinaB opened #58 "Memory Error encountered with large simulation numbers"
@Castronova @ddcamiu
I think this error is due to a memory limit, and am wondering if this is something that could be expanded?

![image](https://cloud.githubusercontent.com/assets/4108369/26226868/b8fa3a82-3be3-11e7-9b14-59cd825aa9dc.png)

To recreate this error, go to https://www.hydroshare.org/resource/07a4ed3b9a984a2fa98901dcb6751954/
Open the notebook called NOCA_runGMDpaper_LandlabLandslide_

[2017-05-19 14:48] Castronova commented on #58
@ChristinaB Can you verify that this will work on your local computer (i.e. iterations >= 1000)?  The NCSA machine has 192Gb of RAM so it's unlikely that the server ran out of memory...unless lots of people were using the system (which is possible). I'll try running the notebook an let you know if I encounter the same issue.

[2017-05-19 14:56] Castronova commented on #43
@ChristinaB DHSVM3.1.3 is running on jupyter.uwrl.usu.edu.

[code]

[2017-05-19 14:58] Castronova commented on #46
@kbarnhart Dakota is running on jupyter.uwrl.usu.edu.  Let me know if everything is working as expected and I'll roll the changes out the NCSA.

[2017-05-19 15:12] Castronova commented on #58
@ChristinaB  Well, I stand corrected.  Your notebook holds steady at about 5GB of memory consumption until the following command.

[code]

This begins a phase of rapid memory consumption (last I checked ~50GB) before ultimately raising and `MemoryException`.   It appears to be some sort of memory leak happening inside the LandLab code, and I recommend you contact the LandLab development team to wo

[2017-05-19 15:36] kbarnhart commented on #46
@Castronova - THANKS!

How would I test this? I have an ipython notebook that launches a Dakota run... But I only know how to launch it from the NCSA.

[2017-05-19 15:43] Castronova commented on #46
@kbarnhart I forgot to give you access to our beta server, sorry about that.  You should now see `JupyterHub Beta` as an option in the OpenWith drop list.  This will launch you into our beta JupyterHub environment.

[2017-05-19 16:57] kbarnhart commented on #46
@Castronova I've tested it and it is working as I expect it to!

[2017-05-23 13:44] Castronova commented on #46
@kbarnhart Dakota should be running on the NCSA server (https://jupyter.cuahsi.org/).  Let me know if you need anything else, and good luck with your clinic!

[2017-05-23 18:23] ChristinaB opened #59 "500: Internal Server Error - notebooks not launching Welcome page on NCSA"
@ddcamiu and @Castronova
I was checking the Notebooks in this Collection resource (https://www.hydroshare.org/resource/2610b5c20e9049b4b6d8c11505d931b5/) for this weeks conference and got this error.  They do work from Beta (which I have access to), but the CSDMS conference is planning to launch from NCSA.

![image](https://cloud.githubusercontent.com/assets/4108369/26369630/16cf4494-3faa-11e7-93c

[2017-05-23 18:44] Castronova commented on #59
@christina can you start your jupyterhub server at all?

[2017-05-23 19:02] ChristinaB commented on #59
OK, I just started it on a different machine without a problem.
Any idea how this error happens and how to avoid it?

I get it from my desktop, but not from my laptop. Good news is that CSDMS have not reported this issue either.

[2017-05-23 19:04] Castronova commented on #59
@ChristinaB I think this was caused by me updating the docker image (fyi DHSVM3.1.3 is running on NCSA now).  I cleared some jupyterhub cookies and restarted the service.  Looks like that fixed it.

[2017-05-23 19:11] ChristinaB commented on #59
Cool!  I have such great timing...

[2017-05-23 19:11] ChristinaB commented on #59
Thanks! I'll test DHSVM!

[2017-05-23 19:22] #46 closed

[2017-05-23 19:23] Castronova commented on #23
These can be hidden via

[code]

[2017-05-23 19:24] #48 closed

[2017-05-23 20:07] #59 closed

[2017-05-24 14:19] jsadler2 opened #60 "iRODS file transfer"
If I have a large file, say a 1GB sqlite database, it would be great if it could be brought into the JupyterHub server via iRODS.

[2017-06-16 21:22] ChristinaB opened #61 "This site can't be reached - Server is down"
@ddcamiu @Castronova @dtarb
The jupyter.cuahsi.org  server is down. When will it be working again?. It would be great to have a notification (email, Slack, or even text message?) so that when work plans are derailed because the server is down, users know how to plan and work around.
Thanks

[2017-06-16 22:08] Castronova commented on #61
This is an unplanned outage.   NCSA is having some issues with Open Stack which may have caused JupyterHub to crash.   Dandong is currently working to fix it.

[2017-06-16 22:53] ddcamiu commented on #61
Actually I think it should be fixed by now. Have you tried logging in and starting the servive @Castronova? I would like to try, but I am less familiar with the latest version of the hydro-jupyter service management.

[2017-06-16 23:16] ChristinaB commented on #61
Thanks !! Standing by to test launch when the server is restarted

[2017-06-17 00:59] ddcamiu commented on #61
I tried to start the service based on the history records. I think it now works for me at least.

[2017-06-17 04:17] ChristinaB commented on #61
![image](https://user-images.githubusercontent.com/4108369/27250040-2be3eee2-52d9-11e7-913f-8e5af9ad6ce2.png)

This is the error I get when I tried.

[2017-06-17 04:58] Castronova commented on #61
I just cleaned the cached jupyterhub files and it works for me now.  @ChristinaB let me know if it's working for you now.

[2017-06-28 18:48] Castronova opened #62 "Items for Release 1.2"
Issues to be resolved for Release 1.2 (July 17th)

**bugs**
- [ ] Unexpected HS_RES_ID on welcome page #56
- [ ] Code check on addContentToExistingResource(parent_resource, files) #55
- [ ] Saving notebooks and outputs #21

**features**
- [ ] Add version to JupyterHub interface #52
- [ ] Matplotlib Font warnings #23
- [ ] Add Contact information to every notebook #16
- [ ] RHESSys Notebook Section

[2017-06-29 15:13] Castronova commented on #60
@jsadler2 This functionality has been added.  You can now use icommands to transfer data to/from your hydroshare userzone.

[2017-06-29 15:13] Castronova commented on #57
@ChristinaB Do you have an R workflow that I can use to develop this functionality?

[2017-06-29 15:15] Castronova commented on #56
It seems that this happens when JupyterHub not launched from HydroShare.  The cached HydroShare resource is reloaded since no other resource was specified.

[2017-06-29 15:15] #61 closed

[2017-06-29 15:15] #43 closed

[2017-06-29 15:16] #58 closed

[2017-07-13 17:37] ChristinaB commented on #21
@Castronova -- I am just following up with this with a current error I am getting when I use the code
parent_resource = '0236ae196d204f1cba421787f38dec71'
files= ['Observatory_Sauk_071117.ipynb']
response_json = hs.addContentToExistingResource(resid=parent_resource, content=files)

Is this what I should be currently using to save back to an existing resource? I don't see any different information

[2017-07-19 17:37] ChristinaB opened #63 "Request to install graphviz"
This is pretty straightforward and amazingly useful:
pip install graphviz
conda install graphviz

Thanks!

[2017-08-02 15:36] Castronova opened #64 "OAuth Google support"
Enable authorization with Google.

[2017-08-09 16:15] ChristinaB opened #65 "Request to install geopandas"
conda install geopandas
pip install geopandas

I am using this for the 'Lowering the barriers' paper and will share that resource so you can check out the use case notebooks asap.

Question: I installed this from terminal yesterday, but I had to reinstall it today.  Does the personal user space get cleared for software installs? I didn't think it did...

[2017-08-09 16:25] ChristinaB opened #66 "Landlab version update needed (possibly)"
For the 'Lowering the barriers' paper the use cases need the latest landlab.
What is the process for version updating? Is this already happening on a cycle?

https://github.com/landlab/landlab/wiki/Installing-Landlab-with-Anaconda

Thanks!

[2017-09-12 16:50] ChristinaB opened #67 "Geohackweek Tutorial and Project Installations"
I am making a [list of tutorials ](https://docs.google.com/document/d/1-QccDtBmSt4Fqb_5Al66CKepjVs_w6KOy3bHRFcY52s/edit#)that may be useful to share on HydroShare as a help page, or a template or starter material to develop our own Help tutorials.  To get these to run, I'm starting here with the installation steps to run @emiliom vector tutorial.

I got this working in my own user space on cuahsi.

[2017-09-12 16:57] ChristinaB commented on #67
We will also need to include [the request to install geopandas. ](https://github.com/hydroshare/hydroshare-jupyterhub/issues/65)
conda install geopandas
pip install geopandas

[2017-09-12 17:17] ChristinaB commented on #67
OK, may not need to add that path.  I can install geopandas and get Emilio's notebooks working but only from Python 2.  How do I install geopandas in both Python 2 and 3?  Their notebook is designed to work with either.

[2017-09-17 15:13] Castronova commented on #57
<img width="1179" alt="screen shot 2017-09-17 at 10 12 54 am" src="https://user-images.githubusercontent.com/4822372/30522127-d796b94a-9b90-11e7-9e70-2c01aef28ca1.png">

[2017-09-21 21:56] lichray opened #69 "Python env missing bsddb"
[code]
Fix:
In Dockerfile, add
[code]

[2017-09-21 22:05] lichray opened #70 "ptrace not allowed"
[code]
Fix:
http://blog.johngoulah.com/2016/03/running-strace-in-docker/

[2017-09-21 22:13] lichray opened #71 "Missing command man(1) to read UNIX man page"
[code]

[2017-09-27 13:52] Castronova opened #73 "The footer should always be at the bottom of the screen"
![image](https://user-images.githubusercontent.com/4822372/30917271-9d451e4a-a369-11e7-98f5-cb71f8321b2b.png)

[2017-09-27 13:53] Castronova commented on #73
This occurs when making a new (empty) notebook.

[2017-09-27 14:54] Castronova commented on #54
@ChristinaB `scp` is not trivial for docker containers, especially since users don't have login credentials on the host machine.  I'll look into this, but we should probably think of other options for resolving this.

[2017-09-27 14:54] #62 closed

[2017-09-27 16:07] Castronova commented on #65
@ChristinaB can you test this on http://jupyter.uwrl.usu.edu/

[2017-09-27 16:07] Castronova commented on #63
http://jupyter.uwrl.usu.edu/

[2017-10-05 20:31] Castronova opened #76 "REST API Index.html"
create index page for REST API.  This should describe the required and optional REST parameters.

[2017-10-06 14:22] #65 closed

[2017-10-06 14:22] #63 closed

[2017-10-06 14:22] #57 closed

[2017-10-06 14:23] Castronova commented on #36
old issue. closing.

[2017-10-06 14:23] #36 closed

[2017-10-06 15:56] Castronova opened #77 "REST Endpoint enhancements"
- clean the rest error handling
- only report errors on required arguments
- add `target` argument to redirect to a specified page

[2017-10-06 15:58] Castronova commented on #76
related issue #77

[2017-10-30 14:00] Castronova commented on #1
Resource creation and notebook archiving has been documented in the welcome.ipynb page.  Closing for now, we can reopen later if necessary.

[2017-10-30 14:00] #1 closed

[2017-10-30 14:01] Castronova commented on #9
This has been fixed.  Closing.

[2017-10-30 14:01] #9 closed

[2017-10-30 14:01] Castronova commented on #15
This no longer seems to be an issue.

[2017-10-30 14:01] #15 closed

[2017-10-30 14:03] Castronova commented on #21
@ChistinaB, what type of HS resource are you creating?

[2017-10-30 14:05] #23 closed

[2017-10-30 14:05] #67 closed

[2017-10-30 14:05] #56 closed

[2017-10-30 14:06] Castronova commented on #54
It looks like SCP'ing into your JupyterHub instance is not straight forward.  This is not functionality that I plan to support. Closing this for now.

[2017-10-30 14:55] Castronova commented on #66
done.

[2017-10-30 14:55] #66 closed

[2017-10-30 14:55] #52 closed

[2017-10-30 15:32] Castronova commented on #55
Old.  Reopen if this is encountered again.

[2017-10-30 15:32] #55 closed

[2017-10-30 15:33] #19 closed

[2017-10-30 15:33] #4 closed

[2017-10-30 17:40] itaher1995 opened #79 "ResID potentially cached when opening Hydroshare Jupyterhub From Apps"
* After logging into Hydroshare and going to the Apps tab click on the Jupyter Python Notebook at NCSA App.
* After opening the tab go through instructions, you will get stopped when you reach the cell with this code:
     * hs.getResourceFromHydroShare(resid)
* The Jupyter Notebook will output that there is an exception and that the resource is not found. That resource id was derived from the out

[2017-10-31 19:01] torresrua commented on #64
I am so close to getting Google Earth Engine API access in HS Jupyter.

`!pip install google-api-python-client`
`!pip install pyCrypto`
`!pip install earthengine-api`

The last part is to enter Google Oauth token into Jupyter. Here is where the problem  (or my ignorance) happens for me:

[code]

Cell output

[code]
The next command is the difficult one
`!earthengine authenticate`

It requires the

[2017-11-01 00:43] torresrua commented on #64
Nevermind it, I solved it.

[2017-11-01 16:54] itaher1995 opened #80 "In timeseries jupyter notebook NumPY is technically NumPy"
Not super important.

[2017-11-01 16:55] itaher1995 opened #81 "(grid, z) = read_esri_ascii(hs.content['thun_elevation.txt'], name='topographic__elevation') creates an array that can't be analyzed"
When running the following piece of code:

`(grid, z) = read_esri_ascii(hs.content['thun_elevation.txt'],`
                          `name='topographic__elevation')`

It seems as though two variables are returned, one of which is a grid. Upon inspection, it seems that the grid is of type array, but we can't do any sort of iteration or slicing on grid.

The following pieces of code:

`grid[0]`

`fo

[2017-11-01 16:55] itaher1995 opened #82 "AttributeError: 'LandslideProbability' object has no attribute 'landslide__factor_of_safety_histogram'"
Running the following code:
`example_FS_dist = LS_prob.landslide__factor_of_safety_histogram[`
   ` core_nodes[46]]`

Returns the following error:

[2017-11-01 16:56] itaher1995 opened #83 "imshow_node_grid gets a field error for 'landslide__mean_factor_of_safety' (landslide driver)"
Create error by running the following:

`imshow_node_grid(grid, 'landslide__mean_factor_of_safety', cmap='OrRd_r',`

                `grid_units=('coordinates', 'coordinates'), vmax=5.,`

                 `shrink=0.75, var_name='Factor of Safety',`

                 `var_units='no units')`

This will return the following error:

Which basically means that landslide__mean_factor_of_safety is not a

[2017-11-01 17:09] itaher1995 opened #84 "MatplotlibDeprecationWarning: The 'hold' keyword argument is deprecated since 2.0. mplDeprecation) (landslide_driver)"
Create Depracation Warning:

`plt.figure('Elevations from the DEM [m]')`
`watershed_line = grid.at_node['Thunder_Creek_watershed'] < 0.0`
`overlay_watershed = np.ma.array(grid.at_node['Thunder_Creek_watershed'],`
                               ` mask=watershed_line)`
`imshow_node_grid(grid, 'topographic__elevation', cmap='terrain',`
                 `grid_units=('coordinates', 'coordinates'),`

[2017-11-01 17:11] itaher1995 opened #85 "AttributeError: 'LandslideProbability' object has no attribute 'landslide_factor_of_safety_histogram' (landslide_driver)"
`core_nodes = LS_prob.grid.core_nodes`

`LS_prob.landslide__factor_of_safety_histogram[core_nodes[10]]`

results in the following error

[2017-11-01 17:14] itaher1995 opened #86 "TauDEM example notebook not working due to ImportError"
To create the problem attempt to import all the required libraries. The following import error appears when you attempt to import all required libaries:

Appears to occur when taudem attempts to import gdal from osgeo.

[2017-11-01 17:16] itaher1995 opened #87 "Importing matplotlib and matplotlib.pyplot is redundant (landslide_driver)"
when importing matplotlib and matplotlib.pyplot a whole slew of warnings occurs. If don't import matplotlib these errors disappear. HOWEVER, after making a change in this import one needs to change the following:

`core_nodes
mpl.rcParams['xtick.labelsize'] = 15
mpl.rcParams['ytick.labelsize'] = 15
mpl.rcParams['lines.linewidth'] = 1
mpl.rcParams['axes.labelsize'] = 18
mpl.rcParams['legend.fontsiz

[2017-11-01 17:17] itaher1995 opened #88 "landside_driver grammar issue"
"This version allows users to provide just a minimum and maximum recharge that **us used in a uniform distribution** rather than a spatially distributed recharge field."

This sentence structure does not make sense

[2017-11-01 17:37] itaher1995 opened #89 "ImportError: cannot import name TimeSeries (rhessys)"
When attempting:

`from utilities.rhessys import *`

I get the following error (w/ traceback)

ImportErrorTraceback (most recent call last)
<ipython-input-1-60d71dd97f3d> in <module>()
      1 import os
      2 import logging
----> 3 from utilities.rhessys import *
      4 get_ipython().magic(u'matplotlib inline')

/home/jovyan/work/notebooks/utilities/rhessys.py in <module>()
     18 import numpy

[2017-11-02 16:54] itaher1995 opened #90 "(irods-basic) Logging into irods uses cached environment"
When running the following command:
`i = commands.iCommands(hs)`
Uses cached irod information. So if one were to put in incorrect information initially, irods will always initialize with this information unless you delete the irods environment. Probably should put in an option to put in new irods information.

[2017-11-02 17:00] itaher1995 opened #91 "(irods-basic) linking to setting up irods environment"
In the irods-basic jupyter notebook file, there should be a link to the following instructions:
https://help.hydroshare.org/creating-and-managing-resources/uploading-large-files-into-hydroshare/

That or list the initial instructions for setting up an irods environment in the notebook itself.

[2017-11-07 19:37] Castronova commented on #73
The footer is obstructing the terminal view.  Make sure the footer is always below JupyterHub content.

[2017-11-10 15:49] Castronova opened #92 "R Kernel - Permissions to install packages"
Adjust the R kernel installation so that packages can be installed from within containers.

[2017-11-10 16:00] Castronova opened #94 "Celery tasks for model execution"
Implement Celery+RabbitMQ to execute dockerized models in the JupyterHub environment.  Deploy a prototype using the SUMMA model.

[2017-11-10 17:06] Castronova opened #95 "Consolidate Dockerfiles"
Consolidate docker commands into the docker-base directory.  This is long overdue.

[2017-11-14 14:08] scaife opened #96 "ImportError: cannot import name TimeSeries (rhessys)"
When importing libraries an ImportError is thrown that is identical to an issue reported 13 days go by user itaher1995 (https://github.com/hydroshare/hydroshare-jupyterhub/issues/89)

[2017-11-14 21:01] Castronova commented on #79
To solve this issue, the resource ID can be passed into the docker container as an environment variable.

[2017-11-16 01:45] dtarb opened #97 "GDAL libraries not importing"
Do the following
1. Open JupyterHub NCSA from any HydroShare Resource
2. From the welcome notebook open the first example notebook "Raster Processing using TauDEM"
3. Execute the first computable cell in this notebook

The line

fails due to a GDAL library problem.

I believe this may be due to an update to the Anaconda environment that broke this functionality.

[2017-11-22 19:09] ChristinaB commented on #49
@Castronova and @ddcamiu   are there other citations you recommend we include in the paper I am working on ?

[2017-11-23 00:36] dtarb opened #98 "Install Sciunit client to support Geotrust work"
Install most recent sciunit client from https://bitbucket.org/geotrust/sciunit2 to support geotrust reproducible workflow Earthcube collaborative project with Tanu Malik and @goodalljl

@lichray could help with details if needed.

[2017-11-23 00:53] lichray commented on #98
Here is the pull request I made https://github.com/hydroshare/hydroshare-jupyterhub/pull/78

[2017-11-23 01:25] dtarb commented on #98
@lichray thanks!

[2017-11-23 13:37] dtarb opened #99 "Expand NetCDF Support"
Consider adding/expanding tools from netCDF ecosystem to facilitate working with netCDF files in HydroShare resources as well as OpenDAP services on public HydroShare resources.

= NetCDF python Library (May have this already)
- Pydap http://www.pydap.org/, Python client for directly accessing data from OPeNDAP services.
- NCO a command line tool http://nco.sourceforge.net/.
- NCO python bindings

[2017-11-27 23:03] Castronova opened #103 "Upgrade to JupyterHub 0.8"
http://jupyterhub.readthedocs.io/en/latest/tutorials/upgrade-dot-eight.html

[2017-11-27 23:05] Castronova commented on #99
It should be fairly easy to install nco:  http://nco.sourceforge.net/

[2017-11-27 23:06] Castronova commented on #98
@lichray I'm working to get you PR merged this week.

[2017-11-29 18:34] Castronova opened #104 "TimeSeries Notebook Fails"
It looks like the timeseries utilities need to be updated for the latest version of odm2tools.

[2017-11-30 19:07] ChristinaB commented on #49
@ddcamiu - Did the Paper above get submitted?  I am working on writing up my paper with Landlab.

[2017-11-30 20:32] ddcamiu commented on #49
Yes. It was published this June. https://dl.acm.org/citation.cfm?id=3093378

[2017-12-01 20:15] #69 closed

[2017-12-01 20:15] #70 closed

[2017-12-01 20:15] #71 closed

[2017-12-01 20:15] #92 closed

[2017-12-01 20:18] Castronova opened #107 "DockerHub build fails - missing files"
Missing files are causing docker hub builds to fail.

[2017-12-04 21:45] Castronova commented on #107
resolved in #108

[2017-12-04 21:45] #107 closed

[2017-12-04 21:45] Castronova commented on #104
resolved #104

[2017-12-04 21:45] #104 closed

[2017-12-04 21:46] Castronova commented on #96
resolved in #95

[2017-12-04 21:46] #96 closed

[2017-12-04 21:46] Castronova commented on #97
resolved in #95

[2017-12-04 21:46] #97 closed

[2017-12-04 21:46] Castronova commented on #98
resolved in #105

[2017-12-04 21:46] #98 closed

[2017-12-04 21:47] Castronova commented on #89
resolved in #95

[2017-12-04 21:47] #89 closed

[2017-12-04 21:47] Castronova commented on #95
resolved in #95

[2017-12-04 21:47] #95 closed

[2017-12-04 21:47] Castronova commented on #86
resolved in #95

[2017-12-04 21:47] #86 closed

[2017-12-04 21:48] Castronova commented on #77
resolved in #76

[2017-12-04 21:48] #77 closed

[2017-12-04 21:48] Castronova commented on #76
resolved in #76

[2017-12-04 21:48] #76 closed

[2017-12-04 21:49] Castronova commented on #73
resolved in #101

[2017-12-04 21:49] #73 closed

[2017-12-08 03:16] dtarb opened #110 "Install valid security certificate"
When I open the JupyterHub app for the first time I get the following warning, and need to set a security exception to proceed

![image](https://user-images.githubusercontent.com/3456833/33749543-7b3d309e-db8b-11e7-814e-6cc01ff76793.png)

[2017-12-20 16:17] Castronova commented on #110
This appears to be a result of image links in notebooks.

[2017-12-20 18:41] Castronova commented on #110
@dtarb This should be resolved on https://jupyter.cuahsi.org.  Can you verify this?

[2017-12-20 18:43] Castronova opened #111 "Custom OAuth Page"
When a user goes to jupyter.cuahsi.org, they're presented with a HydroShare login.  For new users this is confusing.  Customize this page to at least indicate that they're in the "right" place and just need to login with a HydroShare account.

[2017-12-20 18:44] Castronova opened #112 "Jupyter Environment vars not set without HS"
If a user navigates to jupyter.cuahsi.org, no HS environment variables will be set.  The HS utility library should take this into account rather than raising errors.

[2017-12-20 18:45] Castronova commented on #88
This notebook has been replaced, so no need to fix.

[2017-12-20 18:45] #88 closed

[2017-12-20 20:18] Castronova commented on #110
@dtarb it looks like we're still getting this error with the latest Firefox.

[2018-01-10 00:09] ChristinaB commented on #43
I finally got DHSVM running on HydroShare !!! Yeah!! Thanks Tony. It works as expected (which is wonderful).

[2018-01-20 16:00] dtarb opened #113 "OGR library problem with TauDEM"
The resource https://www.hydroshare.org/resource/f186b3fd55fd49e6bb761473e2a49b7f/ contains a JH notebook that illustrates the use of TauDEM in JH.  In running through this today I encountered a problem at cell 13 that executed the streamnet function
!mpiexec -n 4 streamnet -fel loganfel.tif -p loganp.tif -ad8 loganad8o.tif -src logansrc.tif -ord loganord3.tif -tree logantree.dat -coord logancoord

[2018-01-20 18:19] yanliu-chn commented on #113
I believe this is due to a bug in TauDEM 5.3.7 on function `getLayername()`, which is called in `createStreamNetShapefile()` to set up shp file layer name. The bug was fixed in the development branch of TauDEM, but I bet the TauDEM installed with the JH is 5.3.7.

The bug didn't affect earlier JH install on ROGER because we probably used a `gcc` version that lines up memory right for the local arr

[2018-01-20 18:52] dtarb commented on #113
@yanliu-chn thanks.  Can we work on this together a bit to try get a new release out over next week or so.  There are only two PR's outstanding on https://github.com/dtarb/TauDEM.  I think the Catch Hydro Geo One from you could be tested and merged.  I will see if I can do this on a PC.  We also need to add test data for this to https://github.com/dtarb/TauDEM-Test-Data.  If you are able to test t

[2018-01-20 20:07] yanliu-chn commented on #113
@dtarb I will test the suite on Linux and let you know when I am done. Let's shoot for 5.3.9 first. Then we can discuss other pull requests (e.g., the two flowdir algorithms coded by Kornelijus and used in NFIE CFIM computation) and systematic portability tests on a variety of platforms and compilers.

[2018-01-22 03:48] amabdallah opened #114 "Install Hydra Platform library into hydroshare-jupyterhub?"
Could you guys please install the HydraPlatform library into hydroshare-jupyterhub?
https://github.com/UMWRG/HydraPlatform

I installed it locally and it works fine. I already have a working code that makes [WaMDaM](https://github.com/WamdamProject) interoperable with HydraPlatform. It would be really cool to support the HydraPlatform library in hydroshare-jupyterhub because it would allow so much

[2018-01-31 20:11] amabdallah opened #115 "Install plotly"
Would you please install plotly on the jupyterhub?

I could install them as suggested by Tony through an email conversation in the first cell of the notebook but it seems that I have to do that each time I use the notebook.

!pip install plotly  # python 2.7
!pip3 install plotly # python3
!conda install -c plotly plotly -y

[2018-02-01 20:30] amabdallah commented on #114
Nevermind, dont worry about my request above. I ended up connecting to a remote Hydra server. I just needed to upload the called upon libraries within Jupyter environment.
thanks.

Feel free to close the issue as resolved

[2018-02-01 22:13] amabdallah opened #116 "Save a directory and its files back into HydroShare"
Is there a way to save a folder back to HydroShare?

I tried to save it by passing the folder name "HydraLib" as part of the like below but it gave me this error
files = ['HydraLib','WaMDaM_Hydra.ipynb','WEAP_test3.xlsm']
It gave me this mixed meaning message and I thought to share it in case you guys could improve it

![image](https://user-images.githubusercontent.com/3268971/35706263-53cbefde-07

[2018-02-03 15:54] amabdallah commented on #116
In an email conversation, Tony suggested this solution

This can be done by:

1.) zipping your directory from with your notebook:

[code]
2.) saving the *.zip file to your resource, e.g:

`files = ['mydir.zip','...', '...']
`
3.) unzip it from the HS resource edit page by right-clicking on the *.zip file .

This process can be automated using the REST api, but I haven’t had a chance to implement i

[2018-02-06 17:34] rsignell-usgs opened #117 "Enabling user-created conda kernels in Jupyter"
It would be great to allow HydroShare JupyterHub users to create their own conda environments and to enable these to appear in the list of available kernels in Jupyter.

I opened a terminal edited my `$HOME/.condarc` to specify an additional directory for environments:
[code]
then created a new environment `widgets`.

It shows up when I do `conda info -e`:
![2018-02-06_10-20-45](https://user-image

[2018-02-13 22:28] ChristinaB commented on #54
Hi Tony
Can I reopen this? Is it possible to add ssh or scp? Why not?
C

[2018-02-13 23:07] dtarb opened #118 "Pandas deprecation warning"
A student (@sgoeking) working with a RHESSys notebook is receiving the following warning about Pandas deprecation.  It originates in utilities.rhessys.

![image](https://user-images.githubusercontent.com/3456833/36178939-c7f7af28-10d7-11e8-9bf1-1c715d39ebe4.png)

@Castronova any suggestions.

[2018-02-14 14:43] Castronova commented on #118
This looks like a warning to me.  Are we sure that this is causing an error?

[2018-02-14 14:52] sgoeking commented on #118
It is a warning and not an error - although it seems to suggest that it may cause an error in the future.

[2018-02-14 19:34] ChristinaB commented on #54
@Castronova
I don't know how to reopen this.
I want to launch the Landlab Terminal Viewer, and get to a terminal.  Currently it goes to a JH terminal.  If we could ssh, we could get into AWS or other virtual machines from there.    Otherwise the user has to install Cygwin or Git and can't access the entire pipeline through a browser. Is this a worthwhile pipeline goal?

[2018-02-15 15:17] Castronova commented on #54
Reopened.  To resolve this, we need to install ssh and scp in the JH image.  This will allow users to connect to other servers from within their JH instance.

[2018-03-15 20:01] rsignell-usgs commented on #117
If you are using `repo2docker` as described [here](https://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html#build-a-custom-docker-image-with-repo2docker) you should be able to just add `nb_conda_kernels` to the `environment.yml` like:

[code]
[code]
Is that about right @yuvipanda?

[2018-03-27 15:02] Castronova commented on #117
@rsignell-usgs I'll see if can implement this in the next JH release.

[2018-03-27 15:03] #114 closed

[2018-05-08 20:04] ChristinaB opened #121 "Installation update planning"
@Castronova     When is the next update?

- [ ] We  need a Landlab version update before CSDMS (almost ready)

- [ ] High res basemap    -- use >conda install -c conda-forge basemap-data-hires

- [ ]  ogh  https://github.com/Freshwater-Initiative/Observatory        > conda install -c conda-forge ogh   (almost ready - may be ready by May 11 - some issues with attaching the meta.json file that comes

[2018-05-09 12:29] dtarb opened #122 "hs.createHydroShareResource does not return resource_id"
The calling statement for creating a resource in the current welcome notebook is

                                          title,
                                          keywords=keywords,
                                          resource_type=rtype,
                                          content_files=files,
                                          public=False)

However print(resource_id

[2018-05-09 14:14] Castronova commented on #122
I'll take a look at the return value for `createHydroShareResource`...this sounds like a bug.

@dtarb @sblack-usu
The reason for the wrapper is to make resource creation easier from within a notebook, but it's not required which is why it's included as a utility library (`utilities.hydroshare`).  Users are encouraged to use whatever method they want to interact with HydroShare, but the following c

[2018-05-14 18:39] ChristinaB commented on #121
@Castronova Margaux also emailed you about this.
We are thinking that we need this update done by May 17 or May 18 at the latest.
@jphuong  - this will effect your code - lets get the release done.

[2018-05-21 19:14] amabdallah opened #123 "Support folding or hiding cells"
Could you please consider adding a functionality to support folding or hiding cells especially the ones with long scripts?

I see different methods to do it but I was wondering if you could do it at your end.
It would be nice to store the setting for whatever cells are folded or not at the time of publishing it.

The notebook will be then more manageable and users could unfold cells to see more de

[2018-06-22 22:14] lichray opened #125 "Missing .bashrc from the Terminal"
This causes bash-completion not being loaded.

[2018-07-16 16:20] Castronova commented on #121
We currently have version 1.4.0 installed.  Is this what you want?

[2018-07-16 18:20] ChristinaB commented on #121
Thanks Tony - did the High res basemap and ogh additions get included last month as well? If so, I'll check them off. Or do you want to check it off?  Thanks for helping iron out the process so it's clear and easy

[2018-07-25 18:05] ChristinaB commented on #121
This issue is an illustration of support needed for model community-CUAHSI support for use of the JupyterHub App.

here is our current plan for community supported version control: Landlab

- Landlab  developers maintain updated versions of the modeling framework on the CUAHSI JupyterHub server following the following communication tools:
- Landlab developers communicate with the Landlab developer

[2018-08-15 19:28] Castronova opened #126 "2018 Near Surface Geophysics Workshop - Library Requirements"
Install the following libraries for the 2018 Near Surface Geophysics workshop:

`pyres`
`R2`
`gmsh`

[2018-08-27 20:12] aphelionz opened #127 "Ulmo and Pandas incompatible on JupyterHub"
From: https://github.com/hydroshare/hydroshare/issues/2877

@miguelcleon writes:

I'm trying to run a JupyterNotebook on the CUAHSI JupyterHub the resource is[ here ](https://www.hydroshare.org/resource/2fd6d9d2ca16423db921f5c36fcbb073/). The version of Pandas and Ulmo do not work together I get a warning:

`/opt/conda/envs/python2/lib/python2.7/site-packages/ulmo/twc/kbdi/core.py:20: FutureWarnin

[2018-08-29 22:50] Castronova opened #128 "Install PySumma into docker image"
install thee `pysumma` library into the single user docker image.

[2018-09-19 18:53] Castronova opened #131 "Upgrade Single User Image to Ubuntu 18"
Upgrade the single user image to the latest JupyterHub build which uses Ubuntu 18.

[2018-09-28 00:37] Castronova opened #132 "Build SUMMA sopron image"
Build the Sopron version of the SUMMA model.

https://github.com/NCAR/summa/tree/sopron_2018

[2018-10-03 18:50] Castronova opened #134 "Add support for image names including tags for model execution"
The current version of the celery worker only uses the short name for images, e.g. cuahsi/my-model.  This should be modified to include image tagging, i.e. cuahsi/my-model:v1

[2018-10-04 20:03] ChristinaB commented on #121
@Castronova  Can we close this?

[2018-10-04 20:08] ChristinaB opened #136 "Installation request and conda install debug + OGH"
@Castronova
We would like to install libgdal and ncurses

Gives a warned to update conda by running

To use libraries in Jim's new code we need to also run

Is this update really necessary?
Can we install the ogh libraries and include this as a utility?

[2018-10-04 20:09] keckje commented on #136
Thanks Tony, this is Jeff at UW

[2018-10-05 02:19] Castronova commented on #136
Can you briefly explain why these libraries are needed?

[2018-10-05 06:37] jphuong commented on #136
@Castronova

Hi, Tony. OGH uses geopandas and shapely operations to control gridded cell and raster projections. We use them in our tutorials. I discovered that the hydroshare-jupyterhub python libraries have mismapped gdal and fiona versions, resulting in this known libgdal and libncurses error. It's an easy fix by simply updating conda and these libraries to install from conda-forge instead of p

[2018-10-05 06:42] jphuong commented on #136
@Castronova

Ideally, these library updates should happen to the jupyterhub dockerfile image to resolve this mismapping issue, since this is a known and solved problem.

[2018-10-11 17:05] martin-hunt opened #138 "Add nbfetch"
https://github.com/hydroshare/nbfetch

The nbfetch extension needs to be added to the singleuser container.

Also requires oauthenticator changes (currently on dev branch). Issues are not enabled on this repo, so I cant link to a specific issue.

Files will be placed in "Downloads" folder instead of "notebooks/data"

We would like to get rid of the duplicate resource id in the path, which
requires

[2018-10-26 18:44] Castronova opened #139 "remove ipgetter from jupyterhub-rest"
Remove the ipgetter library. This is not being used and is causing docker builds to fail.

[2018-11-08 20:27] dtarb opened #141 "Connection not secure certificate warning"
In a presentation demo'ing Jupyterhub to my class today, I encountered the following connection not secure error

![image](https://user-images.githubusercontent.com/3456833/48225121-28befd80-e359-11e8-9078-7dc440c0771c.png)

[2018-11-12 20:01] dtarb opened #142 "500 Error on notebook download"
File ->Download as ->Notebook on the firefox browser results in a screen 500 : Internal Server Error.  The file is nevertheless downloaded properly, so this appears to be a redirect error after the download.  This does not occur with Chrome browser.

[2018-11-30 03:22] mroberge opened #143 "Not able to access an installed Python package"
I tried to install a python package, hydrofunctions, from a Python 3 notebook using:
[code]
The install went fine, with most of the requirements already met.
When I checked on the package, it seemed fine:
[code]
Everything was there.  However, I wasn't able to import it:

[code]
This just indicated that a package named hydrofunctions had been imported, but it was empty, so even the  `hf.__version_

[2018-11-30 03:32] mroberge commented on #143
I figured out the problem!
A year ago I had saved a file with the same name as the python package I was trying to import. My attempts to import the package instead imported the old file.

[2018-11-30 03:32] #143 closed

[2018-12-23 15:29] dtarb opened #144 "Correct syntax for connecting to another iRODS server"
iCommands.iinit() should return something that makes it clear how to connect to another server.  Following instructions exactly does not work (and it took me a while to figure out the solution)

![image](https://user-images.githubusercontent.com/3456833/50385142-0ecd4600-068d-11e9-8bfa-9661db2260ce.png)

[2019-01-03 17:59] cuahsimarko commented on #144
How does this tie into the codebase/UI? Is this a Jupyter Notebook?

[2019-03-21 07:15] kieutuandung-tlu opened #150 "There was an error installing hydroshare-jupyterhub"
In section [Install pip3], error occurred when installing ipgetter. Can anybody just help me solve this error?

1. wget https://bootstrap.pypa.io/get-pip.py
2. python3 get-pip.py
3. pip3 install ipgetter

Thanks you very much!

[2019-04-10 17:07] cbcunc opened #151 "Create a heartbeat monitor for jupyter.cuahsi.org"
Related to hydroshare/hydroshare#2534

Create a Jenkins heartbeat monitor for jupyer.cuahsi.org.

[2019-04-24 19:15] ChristinaB opened #152 "Supporting reproducible science on HydroShare"
We need documentation, workshops, and more communication for research software scientists developing tools- who are not software engineers with training.

- [ ] Publish/help  page/newsletter on Best practices e.g. for linking to a resource ID dependent file location.

This code doesn’t work:

- [ ] Publish/help page/newsletter/sample code by Tony on Best Practices for dependency checking and versi

[2019-04-24 19:18] ChristinaB commented on #152
Here are some useful links:

https://www.nature.com/articles/sdata201930

https://blog.zenodo.org/2017/05/30/doi-versioning-launched/

https://www.reviewnb.com/

[2019-04-26 15:34] ghost opened #153 "Adding Utilities at hydroshare-jupyterhub"
@dtarb @Castronova
We have a request from an organization (CSDMS  https://github.com/csdms) and a toolkit publication (Observatory https://github.com/Freshwater-Initiative/Observatory done in part with HydroShare funding from 2016) to add Utilities.

From notes in a 4/18/2017 Team meeting (currently page 20) I asked for Team Input on "Is it a HydroShare responsibility or the CUAHSI JupyterHub serv

[2019-04-26 15:34] ghost commented on #153
It would be best if HydroShare can work as a source to https://mybinder.org/ to turn the notebooks live

[2019-04-26 15:34] ghost commented on #153
I talked with @dtarb and @Castronova about it and yes it would be pretty cool to make a public composite resource in HydroShare to work with Binder. It should not be a hug amount of work. Binder deploys the content of a public GitHub repo which may include Jupyter Notebooks and makes them live and interactive.
I tried to use a public composite resource (which has the same GitHub repo files) with B

[2019-04-26 15:35] ghost commented on #153
This seems to mix separate things.

    Binderhub. The modeling and cyberinfrastructure team (@goodalljl @swuiuc) needs to evaluate whether binderhub should play a role in our CI.
    JupyterHub utilities. Issues for jupyterhub should be posted in https://github.com/hydroshare/hydroshare-jupyterhub. There is a need to separate general purpose platform functionality that the HydroShare team can wor

[2019-05-15 01:35] ChristinaB commented on #49
@Castronova  Is this the current citation  ? https://hub.docker.com/r/castrona/hydroshare-jupyterhub/  It says it hasn't been updated in a year and I'm wondering if we can get a DOI of the image for the KI paper?
Here's how I have it in the references until I hear otherwise:
Castronova, Anthony M. 2018. Dockerfile for the HydroShare-JupyterHub base image.  Retrieved October 29, 2018, from https://

[2019-09-04 13:32] Castronova opened #154 "JupyterHub startup is slow and times out."
Launching CUAHSI JupyterHub can be very slow for users. I believe this is due to permission setting that's happening on-the-fly when containers are created. If the user has lots of files (>10,000), this task take a long time.

[2019-09-04 14:04] Castronova commented on #154
This is worse than anticipated. Userspace building and permission setting are performed twice for each JupyterHub request. Once in JupyterHub-rest (HS API connector) and once in the DockerSpawner.

[2019-09-04 15:16] Castronova commented on #154
This has been resolved by removing permission setting from both the JupyterHub and JupyterHub-rest containers in version 1.4.2:

https://cloud.docker.com/u/cuahsi/repository/docker/cuahsi/jupyterhub
https://cloud.docker.com/u/cuahsi/repository/docker/cuahsi/jupyterhub-rest

[2019-09-04 15:16] #154 closed, assigned to Castronova

[2021-09-17 09:59] chuanjiexi opened #155 "Installation Request"

[2021-09-17 10:02] #155 closed, assigned to nobody